<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>已撤销数据</title>
</head>

<table>
    <thead>
        <tr>
            <th>预约人</th>
            <th>联系电话</th>
            <th>期望预约时间</th>
            <th>问题描述</th>
            <th>状态</th>
        </tr>
    </thead>


    <tbody>
        {% for reserver in reservers%}
            <tr>
                <td>{{reserver.name}}</td>
                <td>{{reserver.num}}</td>
                <td>{{reserver.time}}</td>
                <td>{{reserver.question}}</td>
                <td>{{reserver.state}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>