<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>咨询</title>
    </head>
    <body>
        <a href="{{url_for('index')}}">返回</a>
        <table border="1">
            <thead>
                <tr>
                    <th>预约人</th>
                    <th>联系电话</th>
                    <th>维修时间</th>
                    <th>问题描述</th>
                    <th>状态</th>
                    <th>输入撤销密码</th>
                </tr>
            </thead>

            <tbody>
                {%for reserver in reservers%}
                    <tr>
                        <td>{{reserver.name}}</td>
                        <td>{{reserver.num}}</td>
                        {% if reserver.state=="未处理"%}
                        <td>{{reserver.time}}(待确认)</td>
                        {% elif reserver.state=="已处理"%}
                        <td>{{reserver.time}}(已确定)</td>
                        {%endif%}
                        <td>{{reserver.question}}</td>
                        <td>{{reserver.state}}</td>
                        <!-- <td>{{reserver.password}}</td> -->
                        <td>
                            <form action="{{request.path}}" method="POST">
                                <input type="hidden" name="id" value="{{reserver.id}}">
                                <input type="password" name="password">
                                <input type="submit" value="撤销预约">                                
                            </form>

                        </td>
                        
                    </tr>
                {% endfor %}
            </tbody>

        </table>
        
    </body>
</html>