<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>预约</title>
    <script src="{{url_for('static',filename='reserved.js')}}"></script>
</head>


<body>
    <a href="{{url_for('index')}}">返回</a>
    <form action="{{request.path}}" method="post"><!-- #don't need ','!!!!!!! -->
        <lable>预约人</lable>
        <br>
        <input type="text" name="name" placeholder="张三"/>
        <br>
        <label>联系电话</label>
        <br>
        <input type="text" name="num" placeholder="10086"/>
        <br>
        <label>期望预约时间</label>
        <br>
        <input type="text" name="time" placeholder="2021/1/1--10:00am"/>
        <!-- <input type="text" name="real_hour" placeholder="7:00pm~9:00pm"> -->
        <br>
        <label>问题描述</label>
        <br>
        <input type="text" name="question" placeholder="主板烧了"/>
        <br>
        <label>撤销密码</label>
        <br>
        <input type="password" name="password">       
        <br>
        <input type="submit" value="确认提交" onclick="reserved()"> 

    </form>
</body>